
body, button {
    font-family: 'Quicksand', sans-serif;
}

.random-quote-card {
    margin-left:500px;
    margin-right:500px;
    margin-top: 60px;
    text-align:center;
}

.workspace-centre {
    margin-left:150px;
    margin-right:150px;
    margin-top: 10px;
    text-align:center;
}

.workspace-title-section {
    color:#7696B3;
    display:block;
}

.workspace-card {
    padding: 15px;
    text-align: left;
    border-style: solid;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.workspaces-deck {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}